.bg {
	width: 200px;
	height: 200px;
	text-align: center;
	box-shadow: 3px 3px 5px black;
	margin: 15px 0;
}
.jumbotron {
	background-color: #e3f2fd;
	text-align: center;
	padding-top: 60px;
}
.text {
	padding: 15px;
}
section .info {
	text-align: center;
	margin: 15px;
	padding: 10px;
	min-height: 300px;
}
section .galery {
	text-align: center;
	margin-top: 30px;
	background-color: #e3f2fd;
	padding: 30px;
}
section .titan {
	width: 600px;
	height: 400px;
	border-radius: 35px;
	border: 3px solid white;
}
section .galery-titan {
	margin-top: 15px;
	padding: 15px;
	margin: auto;
}
section .galery-tiny {
	margin: auto;
	margin-top: 15px;
	padding: 15px;
}
.tiny {
	width: 300px;
	height: 200px;
	border: 3px solid white;
	border-radius: 35px;
	cursor: pointer;
}
.tiny:hover {
	opacity: 0.5;
}
.galery-tiny h4 {
	padding: 10px;
}
.galery-tiny h4 a {
	text-decoration: none;
	color: black;
}
.galery-tiny h4 a:hover {
	text-decoration: none;
	color: salmon;
}
.info p {
	font-size: 20px;
	padding-top: 10px;
}
footer {
	text-align: center;
	font-size: 20px;
	background-color: #ddd;
	padding: 5px;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}
